<h1>
  Reset Your Tap Password
</h1>
<h4>
  Enter the email address you used to sign-up for Tap and we'll send you an email to reset your password
</h4>
<br/>
<%= form_tag users_reset_password_path do %>
  <div class="field email">
    <strong><%= label_tag :email, "Email:" %></strong>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <%= submit_tag "Request Password Reset", :class => 'btn' %>
<% end %>