<% if !current_user.proPackagePurchased %>
  <p>
    You have not purchased the ProPack yet.  In order to upload files to your TAP cards
    please purchase the ProPack via Tap on your smart phone and then log back in here.
  </p>
<% end %>
<h2>My TAP Cards</h2>
<%= render :partial => "cards" %>
