<div class="row-fluid contacts">
  <div class="span12">
    <h2>My Contacts</h2>
    <% if @devices.size > 1 %>
      <% @devices.each do |device| %>
        <%= link_to device.deviceName, contacts_path(:device => device) %>
      <% end %>
    <% end %>
    Contacts: <%= @contact_count %>
    <div class="row-fluid">
      <div class="span4 contact_list">
        <% @alpha_index.each do |key| %>
          <h3 class="header">
            <%= key %>
          </h3>
          <% @contacts[key].try(:each) do |contact| %>
            <p>
              <%= contact_name_formatted(contact) %>
            </p>
          <% end %>
        <% end %>    
      </div>
      <div class="span8">

      </div>
    </div>
  </div>  
</div>
