// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contacts {
  height: 90%;
}

.contact_list,
.contact_data {
  border: 1px solid #CCC;
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contact_data {
  padding: 12px 0;
  overflow: hidden;
}

.contact_data .header {
  margin-bottom: 24px;
}

.contact_data .header img.spinner {
  margin-left: 10px;
}

.contact_data .details .item-label {
  color: #9B9B9B;
}

.contact_list h3.header {
  background-color: #ebebeb;
  color: #696969;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
}

.contact_list p {
  border-bottom: 1px dotted #CCC;
  margin: 0;
  padding: 6px;
}

.contact_list a p {
  color: #000;
}

.contact_list a:hover {
  text-decoration: none;
}
.contact_list a:hover p {
  color: #0088CC;
}

.contact_list a p.selected {
  color: #0088CC;
  background-color: #F0F3FF;
}

.contact_list p .highlight {
  font-weight: bold;
}