<h1>Listing zapcards</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zapcards.each do |zapcard| %>
  <tr>
    <td><%= link_to 'Show', zapcard %></td>
    <td><%= link_to 'Edit', edit_zapcard_path(zapcard) %></td>
    <td><%= link_to 'Destroy', zapcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zapcard', new_zapcard_path %>
